.discounts {
    border: 1 px solid grey;
    border-radius: 4px;
    padding: 10px;
    
}

.discounts .form-field{
    margin-bottom: 12px;
    text-align: left;
}

.discounts .form-field label{
    display: block;
}